---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
undergoing scheduled updates, back soon
`;
---

<Layout>
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Driven Via Net~work of People, Information & Technology</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>
